.button {
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 28px;
  border: 1px solid #fff;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 10px 30px;
  transition: all ease 0.5s;
  text-transform: uppercase;
}
.button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.39);
}
.button:active {
  position: relative;
  top: 1px;
}
