.nav-bar {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0px, transparent);
  position: fixed;
  z-index: 100;
  top: 0;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

  .main-nav-container {
    .nav-item-container {
      .nav-item {
        text-transform: uppercase;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

        &--active {
          p::after {
            opacity: 1 !important;
            background-color: #fff !important;
            transform: translate3d(0, 0, 0) !important ;
          }
        }
      }

      p {
        display: block;
        position: relative;
        padding: 0.2em 0;
        overflow: hidden;
      }

      p::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        transition: opacity 300ms, transform 300ms;
      }

      p:hover::after,
      p:focus::after {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &--white {
    background: #fff;
    color: $text-color !important;
    box-shadow: 0 0 1px #0003;

    .main-nav-container {
      .nav-item-container {
        .nav-item {
          color: $text-color !important;

          &--active {
            p::after {
              opacity: 1 !important;
              background-color: $text-color !important;
              transform: translate3d(0, 0, 0) !important ;
            }
          }

          p::after {
            background-color: $text-color !important;
          }
        }
      }
    }
  }

  .navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s;
    color: $text-color !important;

    &--hidden {
      transform: translateX(100%);
    }

    .content {
      background-color: #fff;
    }
  }
}

.cart-container {
  position: relative;

  .red-icon {
    opacity: 0;
    transition: all 0.3s;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #ff4f33;
    border: 2px solid #fff;
    border-radius: 50%;
    &--active {
      opacity: 1;
    }
  }
}
